#------------------------------------------------------------
# Linux
#------------------------------------------------------------
*~

#------------------------------------------------------------
# framework
#------------------------------------------------------------
var/cache/*
var/session/*
var/*.log
var/*.ini
app/config/*.php
home/media/*

